body{
  font-family: Arial, sans-serif;
  margin:0;
  background:#efefef;
}

header{
  background:#003b7a;
  color:white;
  padding:18px;
}

.card{
  background:white;
  margin:16px;
  padding:16px;
  border-radius:16px;
}

button,input{
  width:100%;
  padding:14px;
  font-size:18px;
  margin-top:10px;
}

button{
  background:#003b7a;
  color:white;
  border:0;
  border-radius:10px;
}
